body {
    /*background: #121210 url('../../Images/WhiteWallBackground.jpg') repeat scroll 0 0;*/
    background: #fffffd;
    /*font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;*/
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin: 0;
    padding: 0;
}
/*Start Edited Bootstrap CSS*/
.page-header-new {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 2px solid #3ec2cf;
}

.page-model-header-new {
    padding-bottom: 5px;
    margin: 10px 0 10px;
    border-bottom: 2px solid #3ec2cf;
}
/*End Edited Bootstrap CSS*/

/*#myCarousel1 .item {
    height: 300px;
    background: #121210;
}*/

.carousel-border {
    margin-left: 0px;
    margin-right: 0px;
}

.vertical-line {
    border-right: 1px solid #ccc;
}

#myCarousel {
    margin-top: 5px;
}

    #myCarousel .item {
        /*height: 400px;*/
        height: auto;
    }

.slide1 {
    background-position: center top;
    /*background-image: url('../../Images/Carousel/Default/carousel1_medium.jpg');*/
    background-repeat: no-repeat;
}

.slide2 {
    background-position: center top;
    /*background-image: url('../../Images/Carousel/Default/carousel2_medium.jpg');*/
    background-repeat: no-repeat;
}

.slide3 {
    background-position: center top;
    /*background-image: url('../../Images/Carousel/Default/carousel3_medium.jpg');*/
    background-repeat: no-repeat;
}

.slide4 {
    background-position: center top;
    /*background-image: url('../../Images/Carousel/Default/carousel4_medium.jpg');*/
    background-repeat: no-repeat;
}

@media (max-width: 768px) {

    #myCarousel .item {
        /*height: 320px;*/
        height: auto;
    }

    .slide1 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel1_small.jpg');*/
        background-repeat: no-repeat;
    }

    .slide2 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel2_small.jpg');*/
        background-repeat: no-repeat;
    }

    .slide3 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel3_small.jpg');*/
        background-repeat: no-repeat;
    }

    .slide4 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel4_small.jpg');*/
        background-repeat: no-repeat;
    }
}

@media (max-width: 1200px) {

    #myCarousel .item {
        /*height: 500px;*/
        height: auto;
    }

    .slide1 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel1_large.jpg');*/
        background-repeat: no-repeat;
    }

    .slide2 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel2_large.jpg');*/
        background-repeat: no-repeat;
    }

    .slide3 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel3_large.jpg');*/
        background-repeat: no-repeat;
    }

    .slide4 {
        background-position: center top;
        /*background-image: url('../../Images/Carousel/Default/carousel4_large.jpg');*/
        background-repeat: no-repeat;
    }
}

/*.well {
    margin: 20px 0;
}

    .well .page-header {
        margin-top: 0;
    }

        .well .page-header h1 {
            margin-top: 0;
        }*/

ul.unstyled {
    list-style: none;
    padding: 0;
}

footer {
    margin: 15px;
    background: #333;
    color: #aea79f;
    font-size: 11px;
    padding: 20px;
    background: url('../Images/Footer_Background1.jpg') repeat scroll 0 0;
}

    footer a {
        font-size: 12px;
        color: #dddddd;
    }

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none !important;
}

.pagination-new {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-new table > tbody > tr > td {
        display: inline;
    }

        .pagination-new table > tbody > tr > td > a,
        .pagination-new table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #dd4814;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-new table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-new table > tbody > tr > td:first-child > a,
        .pagination-new table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-new table > tbody > tr > td:last-child > a,
        .pagination-new table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-new table > tbody > tr > td > a:hover,
        .pagination-new table > tbody > tr > td > span:hover,
        .pagination-new table > tbody > tr > td > a:focus,
        .pagination-new table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.GridHeader {
    text-align: center;
}

    .GridHeader th {
        text-align: center !important;
    }

.news {
    background: #e9f1f8;
}

    .news a {
        color: #000;
        font-size: 14px;
        padding: 10px 0;
        font-weight: 200;
    }

.well-left {
    min-height: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

ul.LeftMenu {
    margin: 0px;
    padding: 0px;
}

    ul.LeftMenu > li {
        position: relative;
        background: #f5f5f5;
        list-style: none;
        margin-bottom: 6px;
    }


    ul.LeftMenu li:hover > ul {
        display: flex;
    }

    ul.LeftMenu > li.active > a {
        color: #2d2d30;
    }

    ul.LeftMenu > li:hover {
        background: #337ab7;
    }

    ul.LeftMenu > li.active:after {
        background: #2d2d30;
        opacity: 0.2;
    }

    ul.LeftMenu > li:after {
        content: "";
        display: block;
        width: 4px;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        background: #808080;
    }

    ul.LeftMenu > li > a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        /*font-family: 'Montserrat', sans-serif;*/
        font-weight: 700;
        font-size: 12px;
        padding: 7px 5px 5px 25px;
    }
.dropdown:hover .dropdown-menu {
    display:block;
}